* {
    margin: 0 auto;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p{
    margin: 0;
    color: #FBFBFB;
}
        /**/
        /**/
        /*section-advertisement*/
.section-advertisement,
.section-vegetables, 
.section-reviews{
    max-width: 1280px;
    width: 100%;
    padding: 100px;
}
.section-advertisement__title {
    max-width: 1080px;
    width: 100%;
    font-size: 76px;
    font-weight:600;
    line-height: 80px;
    letter-spacing: -1.5%;
    color: #141414;
}
.section-advertisement__title_background {
    max-width: 808px;
    width: 100%;
    color:#FFFFFF;
    background:#576F35;
    border-radius: 12px;
}
        /*section-vegetables*/
.subtitle {
  font-size:64px;
  font-weight:600;
  line-height:64px;
}
.section-vegetables__subtitle {
  max-width:508px;
  width:100%;
  padding-bottom:25px;
  letter-spacing:-1.5%;
}
.section-vegetables__subtitle_color{
  color:rgba(251, 251, 251, 0.3);
}
.text {
  font-size:16px;
  font-weight:500;
  line-height:20px;
}
.section-vegetables__text {
  max-width:626px;
  width:100%;
  padding-bottom:50px;
}
.section-vegetables {
  background:#7A3145;
}
.section-vegetables__cards {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(334px, 1fr));
  gap:20px;
}
.section-vegetables__card {
  display:flex;
  flex-direction:column;
  height:379px;
  padding:32px;
  border-radius:40px;
  background:#FBFBFB;
}
.section-vegetables__card_title {
  padding-bottom:12px;
  font-size:32px;
  font-weight:600;
  line-height:32px;
  letter-spacing:-1.5%;
  color:#7A3145;
}
.section-vegetables__card_weight {
  padding-bottom:10px;
  font-size:14px;
  font-weight:600;
  line-height:18px;
  letter-spacing:-1.5%;
  color:#141414;
}
.section-vegetables__card_img {
  max-width:282px;
  width:100%;
  max-height:243px;
}

        /*section-reviews*/
.section-reviews__subtitle {
  max-width:553px;
  width: 100%;
  color: #141414;
}
.section-reviews__subtitle_color {
  color: #576F35;
}
.section-reviews__text {
  margin-top: 25px;
  max-width: 553px;
  width: 100%;
  color: #141414;
}
.section-reviews__content {
  display: flex;
  margin-top: 50px;
  gap: 10px;
  justify-content: space-between;
}
.section-reviews__card {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  width: 100%;
  padding: 20px;
  border-radius: 24px;
  border: 1px solid #7A31454D;
}
.card-reviews__img {
  max-width: 54px;
  width: 54px;
  height: 54px;
  background-color: #E0E0E0;
  border-radius: 50%;
}
.card-reviews__title {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -2%;
  text-align: center;
  color: #141414;
}
.card-reviews__text {
  margin-top: 8px;
  text-align: center;
  color: #14141466;
}
        /**/
        /**/